p {
  color: $color-gray-text;
}

.btn-light,
.btn-primary,
.btn-secondary,
.btn-nav-primary,
.btn-nav-secondary {
  padding: 12px 20px 12px 20px;
  border-radius: $inputs-radius;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}

.card {
  border-radius: $inputs-radius;
  padding: 40px;
  border: none;
}

.form-control {
  border-radius: $inputs-radius;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  background: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  color: #aaa;
  font-weight: 700;
  line-height: 2.5rem;
}

.form-control__button {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: $color-nav-link-text;
}

.dropdown-toggle::after {
  color: $color-accent;
}

.btn-nav-primary {
  background-color: $color-primary;
  color: $color-nav-text;
}

.btn-nav-secondary {
  background-color: $color-secondary;
  color: $color-nav-text;
}

.section-container {
  min-height: 645px;
}

.section-container--work-with {
  min-height: 114px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-container__container--work-with {
  min-height: 60px;
}
.section-container__container__logos--work-with {
  min-height: 60px;
}

.section-container--latest-jobs {
  min-height: 645px;
}

.gap-10px {
  grid-gap: 10px !important;
  gap: 10px !important;
}

.gap-20px {
  grid-gap: 10px !important;
  gap: 10px !important;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mr-20px {
  margin-right: 20px;
}

.mx-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.my-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

.w-full {
  width: 100%;
}

.radius-30px {
  border-radius: 30px;
}

.card--jobs {
  margin-left: auto;
  margin-right: auto;
  max-width: 373px;
}

.hero-circle-top {
  width: 290px;
  height: 290px;
  position: absolute;
  left: -143px;
  top: -122px;
  background: $color-secondary;
  border-radius: 290px;
}

.hero-circle-bottom {
  position: absolute;
  right: -50px;
  bottom: -82px;
  width: 290px;
  height: 290px;
  flex-shrink: 0;
  border-radius: 290px;
  background: $color-primary;
}

.hero-left-section {
  //margin-top: 160px;
}

.hero-image {
  max-height: 100%;
}

.badge {
  padding: 3px;
  display: inline-flex;
}

.badge__label {
  color: $color-accent;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}

.card__title {
  color: $color-accent;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}

.card__title--light {
  color: white;
}

.card__button {
  padding: 15px 30px;
}

.text--light {
  color: white;
}

.button-control {
  cursor: pointer;
}

.button-control-inactive {
  opacity: 0.5;
}
